body {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.sezione1 {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    flex: 70%;
    box-sizing: border-box;
    h4 {
        color: gray;
    }
    h1 {
        margin-top: -15px;
    }
}

.sezione2 {
    background-color: #003262;
    flex: 30%;
    box-sizing: border-box;
}

.film {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0.8rem;
    column-gap: 0.5rem;
    width: 90%;
}

.film img {
    height: 250px;
    margin-top: 20px;
    border-radius: 3px;
    transition: box-shadow .3s;

    transition: transform .2s;
}

.film img:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33.2);
    transform: scale(1.05);
}

.giallo {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 0px;
    transition: box-shadow .3s;
    border-radius: 0px;
}

.giallo:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33.2);
}

.container {
    display: flex;
}

p {
    margin: 30px;
    font-size: small;
    color: white;
    text-align: justify;
}

footer {
    background-color: rgb(221, 221, 221);
    color: black;
    text-align: center;
    font-size: small;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}

/* 
#1f252c  blu letterboxd
#6c6c6c grigio
*/
